<!DOCTYPE html>
<html lang="en">
<head>
    @inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
    @inject Microsoft.AspNetCore.Identity.SignInManager<Microsoft.AspNetCore.Identity.IdentityUser> signInUser
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    @if (signInUser.IsSignedIn(User))
    {
        <link rel="stylesheet" href="~/css/chat.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    }
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow top-fixed full-width height-5vh">
            <a class="navbar-brand text-white" asp-controller="Newsfeed" asp-action="Index">
                <img src="~/images/flame.png" class="logo" />
                <span style="margin-left:50px; font-weight:bold">Flame</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                @if (signInUser.IsSignedIn(User))
                {
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Newsfeed" asp-action="Index">Newsfeed</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Profile" asp-action="MyAccount">My Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-controller="Contacts" asp-action="Index">Contacts</a>
                        </li>
                    </ul>
                }
            </div>
            <div class="navbar-nav d-flex flex-row-reverse">
                <ul class="navbar-nav">
                    @if (signInUser.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Profile" asp-action="Logout">Logout</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="row no-gutters top-20 position-absolute w-100 h-100">
        <!--Contacts-List-->
        @if (signInUser.IsSignedIn(User))
        {
        <div class="col-2 no-gutters overflow-y-auto pr-0">
            <div class="direction-rtl contacts-list-tab sidebar" id="contacts">
                <div class="direction-ltr container mt-2 mb-2">
                    <p>There goes the contacts list</p>
                    <div class="text-center">
                        <a asp-controller="Contacts" asp-action="chat">Chat</a>
                        <p>Online contacts number: <span id="listCount"></span></p>
                    </div>
                    <ul class="text-overflow-normal pl-0" id="list">
                    </ul>@*
                    <div class="test">a</div>*@
                </div>
            </div>
        </div>
        }
        <div class="col no-gutters main-content pl-0">
            <main role="main" class="pb-3">
                @RenderBody()@*
                <div class="test">a</div>*@
                @if(signInUser.IsSignedIn(User))
                {
                    <div class="chat-space">
                        <div class="chat-room">
                            <div class="top-bar">
                                <div class="chat-title pl-1">
                                    <img class="recipient-avatar-img" src="~/images/avatar_icon.png" />
                                    User
                                </div>
                                <div class="chat-exit text-center">X</div>
                            </div>
                            <div class="chat-history">
                                <div class="pl-1 pr-1">
                                    <div class="received-text-space">
                                        <img class="recipient-avatar-img" src="~/images/avatar_icon.png" />
                                        <div class="received-text">
                                            Hey
                                        </div>
                                    </div>
                                    <div class="sent-text-space">
                                        <div class="sent-text">
                                            Hey
                                            <br>
                                            <br>
                                            Wassup?
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="control-bar">
                                <div class="input-message">
                                    <input name="input-message" class="h-100">
                                </div>
                                <div class="send-message">
                                    <button type="submit" class="h-100 button-style">Send</button>
                                </div>
                            </div>

                        </div>

                    </div>
                }
            </main>

        </div>
    </div>
    <footer class="border-top text-muted">
        <div class="container" style="margin-left:10px; color:#fff;">
            &copy; 2020 - @AppSettings.Value.ApplicationName
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @if (signInUser.IsSignedIn(User))
    {
        <script src="~/lib/signalr/signalr.min.js"></script>
        <script src="~/js/chatClient.js" asp-append-version="true"></script>
    }
    @RenderSection("Scripts", required: false)
</body>
</html>
