
@{
    ViewData["Title"] = "Chat";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome @User.Identity.Name to Chat page</p>
    <a asp-controller="Contacts" asp-action="index">Contact list</a>
</div>


