@{
    Layout = "_Layout";
}

@model RegisterModel

<div class="registerbox">
    <form asp-action="Login" asp-controller="Profile" method="post">

        <img src="~/images/avatar_icon.png" class="avatar" />
        <h1>Register Here</h1>
        <div>
            <p>Email</p>
            <input type="email" name="" placeholder="Enter Email" />
            <p>Username</p>
            <input type="text" name="" placeholder="Enter Username" />
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password" />
            <p>Confirm Password</p>
            <input type="password" name="" placeholder="Enter Confirm Password" />
            <input type="submit" name="" value="Register" />
        </div>

    </form>
</div>
