@{
    ViewData["Title"] = "Newsfeed";
}

@model UserModel

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Username</h1>
    <p>Welcome to Newsfeed page</p>
    @User.Identity.Name
</div>
